
body {
  height: 100vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
* {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
}
@media screen and (max-width: 576px) {
  .logo {
    right: auto;
    margin: auto;
  }
}


.wrap {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width:100%;
  height: auto;
  max-width: 80%;
  max-height: 600px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
}
#chart-slider {
  width: auto;
  height: 400px;
  margin: auto;
}
.chart-wrap {
  position: relative;
  display: inline-block;
  float:none;
  width: 240px;
  height: 240px;
  padding-bottom: 60px;
  border-bottom: 3px solid #E4E4E4;
  margin: 0px 40px;
}
.chart-wrap .inner-html {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 200px;
  height: 200px;
  max-width: 60vw;
  max-height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  background-size: 180px 180px;
  background-repeat: no-repeat;
  background-position: 10px 26px;
}
.inner-html h5 {
  display: flex;
  color: #9F9F9F;
  font-weight: 600;
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height:26px;
  margin: 0px auto;
  justify-content: center;
}
.inner-html p {
  display: flex;
  color: #3F3F3F;
  text-align: center;
  font-weight: 600;
  width: 100%;
  font-size: 26px;
  line-height:26px;
  margin: 0px auto;
  justify-content: center;
}
.inner-html p span.append {
  display: inline;
}

.secondary-info {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 8px;
}
.secondary-info .tablet {
  display: block;
  width: 50%;
}
.secondary-info .smartphone {
  display: block;
  width: 50%;
  text-align: right;
}
.secondary-info h5,
.secondary-info p {
  display: block;
  width: 100%;
  margin: 0px;
}
.secondary-info h5 {
  font-weight: 700;
  line-height: 18px;
}
.secondary-info p {
  font-size: 13px;
  font-weight: 600;
  color: #5A5A5A;
  line-height: 18px;
}
.secondary-info p span {
  color: #9F9F9F;
}


.bottom-title {
  position: fixed;
  bottom: 20px;
  margin: 0px;
  left: 20px;
  color: #9F9F9F;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.footer-decorator {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(90deg, #FF8B00 0%, #90CF25 100%);
}

@media screen and (max-width: 576px) {
  .bottom-title {
    left: auto;
    margin: auto;
  }
}